.DS_Store
._.DS_Store
.Rapp.history
.Rhistory
.snakemake/*
.snakejob/*
raw/*
Drafts*
mrbase.oauth
*.clumped.gz
*.clumped
*.log
Rplots.pdf
data/test/*
results/test/*
shiny/.Rapp.history
shiny/rsconnect
shiny/user_base.rds
shiny/.httr-oauth
scripts/._*
scripts/._*
src/._* 

*_formated.txt.gz
sandbox/*
